<div class="widget-wrap">
  <h3 class="widget-title">微博 ● Weibo <%- page.current_url %></h3>
  <div class="widget" style="padding: 0px">
	<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=3&ptype=1&speed=0&skin=9&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=3173821640&verifier=3894badf&dpc=1"></iframe>
  </div>
</div>